<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Forgot your password <%= @user.username %>?</h1>
    <p>
      Your code is: <%= @user.confirmation_token %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>